.Navigationitem a {
    color: #8F5C2C;
    width: 100%;
    margin: 10px 0;
    font: inherit;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {
    .Navigationitem a {
        height: 100%;
        margin:  auto;
        display: flex;
        align-items: center;
        color: white;
        padding: 16px;
        border-bottom: 4px solid transparent;
    }
    a:hover,
    a:active,
    a.active
    {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
    }
        
}