.SideDrawer {
    position: fixed;
    left: 0;
    top: 0;
    padding: 32px 16px;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 500;
    transition: transform .3s ease-in;
}

.drawer--nav {
    margin-top: 32px;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100vw);
}

